.imagen{
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    
}

h3{
    font-family: 'Itim', cursive;
    
}

.imagen img{
    width: 350px;
    height: 350px;
    position: sticky;
    border-radius: 30px;
    margin: 30px;
    
}






