.imagen{
    justify-content: center;
    padding: 18px;
    position: relative;
    margin: auto;
}
.imagen img{
    /* max-width: 100%; */
    width: 550px;
    height: 350px;
    position: sticky;
    border-radius: 20px;
    
}



