  @media (max-width:700px ){
    .slider.hidden {
      visibility: hidden;
    }
   
    .slider{
      margin-top: 10px;
      padding-top: 20px;
    }

    .logo-imagen{
      justify-content: center;
      margin-top: 10px;
      margin-left: 3rem;
    }

    a{
      font-family: 'Itim', cursive;

    }

  }