  @media (max-width:700px ){
    .slider.hidden {
      visibility: hidden;
    }
   
    .slider{
      margin-top: 10px;
      padding-top: 20px;
    }

    .imagen{
      height: -250px;
      padding-left: 70px;
    }
  }